li.query-result {
  list-style-type: none;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 4px;
  white-space: normal;
  background-color: honeydew
}

div.query-result-title {
  font-size: 12px;
  color: gray;
}

.main-title {
  font-weight: bold;
}

.sub-title {
  color: darkslategray;
  font-size: 20px;
  font-weight: bold;
}

.query-label {
  color: gray;
  font-weight: normal;
}

.query-section {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: cornsilk;
}

.main-container {
  margin-top: 5%;
}
